.form-container {
  position: absolute;
  top: -300px; /* Hidden above the screen */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: top 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.form-container.show {
  top: 0; /* Slide down into view */
}

.form-content {
  background-color: white;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 300px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 2px 5px 3px 5px !important;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.form-content h2 {
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.form-content label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

.form-content input {
  width: calc(100% - 20px);
  padding: 8px 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-content button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #a00000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-content button:hover {
  background-color: #800000;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
